* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-grow: 1;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 4em;
}

/* Canvas */
.canvas {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.3);
}

/* Tools */
.tools {
    display: flex;
    height: 480px;
    width: 10rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;  
}
.tools-heading {
    margin: 0;
    padding: 0;
}
.change-pixel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: .5rem;
}
.show-pd {
    display: flex;
    padding: 0;
    margin: 0;    
}
.show-pd-value {
    padding: 0;
    margin: 0;
}
.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

/* Buttons */
button {
    display: flex;
    width:inherit;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.active {
    background-color: green;
    color: white;
    border: none;
}
